--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cpu
torchvision
diffusers
transformers
accelerate
optimum
optimum-intel
optimum-openvino
onnxruntime
onnx
openvino
openvino-dev